<div id = "header">My Favorite Games</div>
<br>
<br>

<div id = "Zelda"><%- game1.title %></div>
<img src = "<%- game1.image %>" length = "200px" width = "200px">
<br>
<br>

<div id = "mario"><%- game2.title %></div>
<img src = "<%- game2.image %>" length = "200px" width = "200px">
<br>
<br>

<div id = "MW3"><%- game3.title %></div>
<img src = "<%- game3.image %>" length = "200px" width = "200px">
<br>
<br>

<div id = "RE4"><%- game4.title %></div>
<img src = "<%- game4.image %>" length = "200px" width = "200px">
<br>
<br>
